{% extends "TwigBundle:Exception:error.html.twig" %}
{% block error %}
    <h1>500</h1>
    <h2>Une erreur interne est survenue</h2>
    <p><a href="{{ path('app_homepage') }}" class="btn green btn-outline"> Retour à l'accueil </a></p>
{% endblock %}