{% extends 'AppBundle:Project:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_project') }}">Liste des informations de la ville</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter un article de communauté</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter un article de communauté</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}