{% extends 'AppBundle:Project:index.html.twig' %}
{% block maincontent %}
    <div class="alert alert-danger alert-dismissable">
        Cette communauté n'a pas la fonctionnalité articles & événements communauté.
    </div>
{% endblock %}