{% extends 'AppBundle:Comment:index.html.twig' %}
{% block maincontent %}
    <div class="alert alert-danger alert-dismissable">
        Cette communauté n'a pas la fonctionnalité commentaires.
    </div>
{% endblock %}