{% extends 'AppBundle:UsefullLinkHeading:index.html.twig' %}
{% block maincontent %}
    <div class="alert alert-danger alert-dismissable">
        Cette communauté n'a pas la fonctionnalité liens utiles.
    </div>
{% endblock %}