/app/config/parameters.yml
/app/Ressources/translations
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public
*.directory
*.idea
!/var/jwt/
/web/upload/
/web/bundles/
!/var/rms/
/nbproject/private/
/nbproject
!/var/ganalytics/
/back/
/src/ApiBundle.zip
.php_cs.cache
Archive.zip
back.zip
parameters.yml
testfile.txt