{% extends 'AppBundle:ReportingHeading:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_reportingheading') }}">Liste des formulaires de prise de contact</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter un formulaire</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter un formulaire</h3>
{% endblock %}