{% extends 'AppBundle:Event:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_event') }}">Liste des événements</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter un événement</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter un événement</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}