{% extends 'AppBundle::layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <span>Gestion des événements</span>
    </li>
{% endblock %}

{% block pagetitle %}
    <h3 class="page-title"> Gestion des événements</h3>
{% endblock %}

{% block maincontent %}

    <div class="alert alert-danger alert-dismissable">
        Vous devez d'abord sélectionner une communauté avant de modifier ses réglages
    </div>

{% endblock %}