{% extends 'AppBundle:Association:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_association') }}">Liste des groupes / associations</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Créer un groupe / une association</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title">Créer un groupe / une association</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}