{% extends 'AppBundle:InterestCategory:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_interestCategory') }}">Liste des categories de centre d'interet</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter categorie</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter categorie</h3>
{% endblock %}