{% extends 'AppBundle:Article:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_article') }}">Liste des articles</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter article</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title">Ajouter article</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}