{% extends 'AppBundle:Work:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_work') }}">Liste des travaux</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter travaux</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter travaux</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}