{% extends 'AppBundle:phonebookheading:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_phonebookheading_index') }}">Liste des rubriques Annuaire</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Créer une rubrique annuaire</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Créer une rubrique annuaire</h3>
{% endblock %}