{% extends 'AppBundle:Number:index.html.twig' %}
{% block maincontent %}
    <div class="alert alert-danger alert-dismissable">
        Cette communauté n'a pas la fonctionnalité annuaire.
    </div>
{% endblock %}