{% extends 'AppBundle:Interest:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_interest') }}">Liste des centres d'intérêts</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter centre d'intérêt</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter centre d'intérêt</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}