{% extends 'AppBundle::layout.html.twig' %}
{% block breadcrumb %}
    <li>
        <span>Liste des centres d'intérêts</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Liste des centres d'intérêts</h3>
{% endblock %}
{% block maincontent %}

    <div class="alert alert-danger alert-dismissable">
        Cette communauté n'a pas la fonctionnalité carte.
    </div>

{% endblock %}