{% extends 'AppBundle:Mail:layout.html.twig' %}
{% block body %}
    <h2>Bonjour,</h2>
    <p>Cet email vous est envoyé par l'application NOUS-Ensemble et à l'initiative {{ type }} {{ account.name}} au sujet de l'événement "{{event.title}}".<br><br>
        {{ email }}
    </p>
{% endblock %}