{% extends 'AppBundle:Mail:layout.html.twig' %}
{% block body %}
    <h2>Bonjour,</h2>
    <p>Votre compte citoyen a été {%if entity.enabled%}activé{%else%}désactivé{%endif%}, veuillez contacter par mail <a alt="Envoyer un e-mail à l'auteur" title="Envoyer un e-mail à l'auteur" href="mailto:{{sender.email}}">{{sender.email}}</a> la personne qui a effectué cette action pour plus d’informations.</p>
{% endblock %}