{% extends 'AppBundle:Mail:layout.html.twig' %}
{% block body %}
    <h2>Bonjour,</h2>
    <p>Suite à une demande de réinitialisation de votre mot de passe NOUS-Ensemble, voici votre nouveau mot de passe : {{password}}.</p>
{% endblock %}
