{% extends 'AppBundle:Mail:layout.html.twig' %}
{% block body %}
    <h2>Bonjour,</h2>
    <p>Votre demande de liaison à la Communauté <b>{{community.getName()}}</b> a été acceptée,<br>Votre mot de passe de connexion est: {{community.getPassword()}}</p>
{% endblock %}
