{% extends 'AppBundle:GoodPlan:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_goodplan_index') }}">Liste des bons plans</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter un bon plan</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter un bon plan</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}