{% extends 'AppBundle::layout.html.twig' %}

{% block breadcrumb %}
    <li>
        <span>Gestion des bons plans</span>
    </li>
{% endblock %}

{% block pagetitle %}
    <h3 class="page-title"> Gestion des bons plans</h3>
{% endblock %}

{% block maincontent %}

    <div class="alert alert-danger alert-dismissable">
        Vous n'avez pas accès à cette section
    </div>

{% endblock %}