{% extends 'AppBundle:Merchant:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_merchant') }}">Liste des commerces / partenaires</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Créer un commerce / un partenaire</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Créer un commerce / un partenaire</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}