{% extends 'AppBundle:Survey:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_survey') }}">Liste des sondages</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter un sondage</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter un sondage</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}