{% extends 'AppBundle:User:updateCityhall.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_user_cityhall') }}">Liste des comptes - Administrateurs de communauté</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter compte Administrateur</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter compte Administrateur</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}