{% extends 'AppBundle:ArticleHeading:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_articleheading') }}">Liste des rubriques des articles importants</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Créer un nouveau formulaire</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Créer un nouveau formulaire</h3>
{% endblock %}