{% extends 'AppBundle:Push:updateCityhall.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_push_cityhall') }}">Liste des notifications PUSH - Communauté</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter PUSH communauté</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter PUSH communauté</h3>
{% endblock %}
{% block infocreate %}
{% endblock %}