{% extends 'AppBundle:City:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_city') }}">Liste des villes</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter ville</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter ville</h3>
{% endblock %}