{% extends 'AppBundle:MapHeading:update.html.twig' %}
{% block breadcrumb %}
    <li>
        <a href="{{ path('app_mapheading') }}"> Liste des rubriques Carte pratique</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Ajouter rubrique</span>
    </li>
{% endblock %}
{% block pagetitle %}
    <h3 class="page-title"> Ajouter rubrique</h3>
{% endblock %}